%h1 Edit Project
- if @project.owner?(current_user)
  = link_to 'Destroy project', @project, method: :delete,
                                         data: { confirm: 'Are you sure?' },
                                         id: 'project_destroy',
                                         class: 'reject button'
  = render partial: 'form', locals: { action: 'update' }
- else
  %strong= 'Only project onwers can edit the project'
